[defaults]
host_key_checking = False
retry_files_enabled = False
inventory =./inventory
stdout_callback = default
bin_ansible_callbacks = True
interpreter_python = auto_silent
callback_whitelist = timer, profile_tasks
display_skipped_hosts = False
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
command_warnings = False
deprecation_warnings = False
system_warnings = False

[inventory]
unparsed_is_failed = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

[galaxy]
server_list = published, validated, community_galaxy

[galaxy_server.published]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTk1MDY1OTAsImp0aSI6IjQ4NWQ0YmMwLWRiNDctNDllNi05ZGQ3LTBkYTYxMmE5YjExNiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1MDAxMDExMyIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiMmU3NmNjZDQtOTczMy00NTRiLTg2MzktY2I2YmUwM2I2NDE2Iiwic2lkIjoiYTNhNGY5OTYtYWVhNS00YThjLWE1ODMtMzVlY2U2YzQ0MjFkIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IGFwaS5hc2tfcmVkX2hhdCBvZmZsaW5lX2FjY2VzcyJ9.Qrxhu2A_ewmutSzhED7KSVAycBBSJU5UWYQKRS2PpR-MQx584bDp_X0c08K26VlRcg2HZ7h9MWZEq0joAfdghw

[galaxy_server.validated]
url = https://console.redhat.com/api/automation-hub/content/validated/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTk1MDY1OTAsImp0aSI6IjQ4NWQ0YmMwLWRiNDctNDllNi05ZGQ3LTBkYTYxMmE5YjExNiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1MDAxMDExMyIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiMmU3NmNjZDQtOTczMy00NTRiLTg2MzktY2I2YmUwM2I2NDE2Iiwic2lkIjoiYTNhNGY5OTYtYWVhNS00YThjLWE1ODMtMzVlY2U2YzQ0MjFkIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IGFwaS5hc2tfcmVkX2hhdCBvZmZsaW5lX2FjY2VzcyJ9.Qrxhu2A_ewmutSzhED7KSVAycBBSJU5UWYQKRS2PpR-MQx584bDp_X0c08K26VlRcg2HZ7h9MWZEq0joAfdghw

[galaxy_server.community_galaxy]
url = https://galaxy.ansible.com/

[defaults]
inventory_plugins = plugins/inventory
