<domain type='kvm'>
  <name>{{ item.name }}</name>
  <memory unit='MiB'>{{ item.memory }}</memory>
  <vcpu>{{ item.vcpus }}</vcpu>
  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
    <boot dev='hd'/>
  </os>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ item.disk }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    {% if use_cloud_init_disk | default(false) %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw'/>
      <source file='/var/lib/libvirt/images/{{ item.name }}-seed.img'/>
      <target dev='vdb' bus='virtio'/>
    </disk>
    {% endif %}
    <interface type='network'>
      {% if item.mac is defined and item.mac != '' %}
      <mac address='{{ item.mac }}'/>
      {% endif %}
      <source network='{{ item.network }}'/>
      <model type='virtio'/>
    </interface>
    <graphics type='vnc' port='-1' autoport='yes'/>
    {% if use_cloud_init_iso | default(true) | bool %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='/var/lib/libvirt/images/{{ item.name }}-seed.iso'/>
      <target dev='hdc' bus='ide'/>
      <readonly/>
    </disk>
    {% endif %}
  </devices>
</domain>
