# Generated inventory for installer actions

[libvirt]
{{ libvirt_host | default('10.168.0.1') }} ansible_user={{ libvirt_user | default('root') }}

[satellite]
{{ satellite_vm_hostname | default('satellite-poc.example.com') }} ansible_user={{ satellite_admin_user | default('admin') }}

[aap]
{% if 'aap' in sms_selected_targets %}
aap.example.com ansible_user={{ aap_admin_user | default('admin') }}
{% endif %}

[openshift]
{% if 'openshift' in sms_selected_targets %}
openshift.example.com ansible_user={{ openshift_admin_user | default('kubeadmin') }}
{% endif %}
