---
# BIND DNS Configuration Template

options {
  listen-on port 53 { 10.168.0.1; 127.0.0.1; };
  listen-on-v6 port 53 { ::1; };
  directory "/var/named";
  dump-file "/var/named/data/cache_dump.db";
  statistics-file "/var/named/data/named_stats.txt";
  memstatistics-file "/var/named/data/named_mem_stats.txt";
  secroots-file "/var/named/data/named.secroots";
  recursion yes;

  # Allow recursion from local network
  allow-recursion { 10.168.0.0/16; 127.0.0.1; };
  
  # Query log
  querylog yes;

  /* 
   - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
   - If you are building a RECURSIVE (caching) DNS server, you MAY enable recursion.
   - If your recursive DNS server has a public IP address, you MUST enable access 
     control to limit queries to your legitimate users. Failing to do so will cause 
     your server to become part of large scale DNS amplification 
     attacks. Implementing BCP38 within your network would be strongly 
     appreciated by the community.
   - Recursion 9.9.7+ enables serve-stale by default which may or may not be what you want.
     disable serve-stale { expired; };
   */
  dnssec-validation yes;

  managed-keys-directory "/var/named/dynamic";

  pid-file "/run/named/named.pid";
  session-keyfile "/run/named/session.key";

  /* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
  include "/etc/crypto-policies/back-ends/bind.policy";
};

logging {
  channel default_debug {
    file "data/named.run";
    severity dynamic;
  };
  category default {
    default_debug;
  };
};

include "/var/named/named.zones";

zone "." IN {
  type hint;
  file "named.ca";
};

# Forward zones
include "/var/named/named.example.com.zones";
include "/var/named/named.prod.example.com.zones";

# Reverse zones
zone "0.168.10.in-addr.arpa" IN {
  type master;
  file "named.10.168.0.in-addr.arpa";
  allow-transfer { none; };
};

zone "1.168.10.in-addr.arpa" IN {
  type master;
  file "named.10.168.1.in-addr.arpa";
  allow-transfer { none; };
};

zone "2.168.10.in-addr.arpa" IN {
  type master;
  file "named.10.168.2.in-addr.arpa";
  allow-transfer { none; };
};

zone "3.168.10.in-addr.arpa" IN {
  type master;
  file "named.10.168.3.in-addr.arpa";
  allow-transfer { none; };
};

zone "100.168.10.in-addr.arpa" IN {
  type master;
  file "named.10.168.100.in-addr.arpa";
  allow-transfer { none; };
};

zone "240.168.10.in-addr.arpa" IN {
  type master;
  file "named.10.168.240.in-addr.arpa";
  allow-transfer { none; };
};
